* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;

}

header{
    height:120px;
    width:1040px;
    margin:0 auto;
}

main{
    padding-bottom: 100px;
    width:1040px;
    margin:0 auto;
}

footer{
    margin: -100px auto 0;
    position: relative;
    height: 100px;
    width:1500px;
}
body{
    background-color: #380577;
    color: white;
}
.main_img{
    width: 550px;
    margin-right: 40px;
    float:left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/panorama.jpg) no-repeat center 70%;
    background-size: cover;
    }
.services__img {
    width: 240px;
}
.services{
    padding: 35px;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1—invisible{
    visibility: hidden;
}
.services__item {
    margin: 0px 40px;
    width: 240px;
    float: left;
}

.imgp{
    text-align:center;
}
.imgp{
    
}
#hH{
    font-style:italic;
    text-align: center;
    font-size: 50px;
    margin: auto;
    color: darkorchid;
    text-shadow: 2px 2px 2px black;
}
.frot{
    color:white;
    text-align: center;
    font-size: 50px;

}
.info{
    text-align: center;
    float: left;
    height: 200px; 
    width: 600px;
    font-family: 'Oswald';
    /*border: black solid 6px;*/
    color: white;
    margin-left: 215px;
    font-size: 20px;
}
.root{
    text-align: left;
    font-family: 'Oswald';

}
.root2{
    text-align: center;
    margin-left: 590px;
    margin-right: 500px;
    font-family: 'Oswald';
    
}
.insta{
    width: 30px;
    /*margin-left: 280px;*/
}
.vk{
    width: 30px;
    margin-left: 5px;
}
.root3{
    width: 30px;
    /*margin-left: 150px;*/
}
.facebook{
    margin-left: 5px;
    width: 30px;
}
.site{
    font-size: 30px;
    margin-top: 40px;
}
.cl1{
    color: rgb(179, 105, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#rt1{margin-left: 100px;margin-right: 50px;font-size: 25px;}
#rt2{margin-right: 50px;font-size: 25px;}
#rt3{margin-right: 50px;font-size: 25px;}
#rt4{font-size: 25px;}

.ggh{
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald';
}
#hh1{text-decoration: underline;}
#ji{margin-bottom: 20px; margin-top: 20px; color: chartreuse;}

#imgf{
   width: 130px; 
}
#hj{
    font-family: 'Oswald';
    font-size: 40px;
    margin-top: 200px;
    width: 300px;
    margin-top: 40px;
}
.police{

    /*margin-left: 270px;*/
}
.uni{

    /*margin-left: 270px;*/    
}
.house{
}
#texty{

    width: 200px;
    font-family: 'Oswald';
}
.kompanii{
    margin-bottom: 100px;
    border: crimson solid 1px;
}
#logo{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;

}
.pink{
    color: pink;
}
.footer__block{
    display: inline-block;
    height: 335px;
    text-transform: lowercase;
}
.footer__icons{
    display: inline-block;
    height: 335px;
    text-align: right;
}
.footer__img{
    width: 35px;
    margin-left: 5px;
}
h1,h2{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
}
.reform a:after{
    text-decoration: none;
    color: white;

}

header a{
    text-decoration: none;
    color:white;
    
}
header a:hover{
    color: aquamarine;
    text-decoration: underline;
}
main a{
    text-decoration: none;
    color: #fff;
    
}
main a:hover{
    color: violet;
    text-decoration: underline;
}
.new:after{
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: violet;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}
main .tre{
    font-family: 'Oswald';
}
.active{
    color: violet;
}
table{
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    border-collapse: collapse;
}

td,th{
    border-bottom: white solid 2px;
    border-top: white solid 2px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-family: "Oswald";
}
tr:nth-child(2n){
    background-color: violet;
}

td:nth-child(3){
    text-align: left;
    font-family: "Oswald";
}
.price th:first-child{
    width: 10%;
}
.price th:nth-child(2),.price th:last-child{
    width: 25%;
}
.caption{
    text-align: left;
    font-size: 23px;
    font-family: "Oswald";
}
.Ashka{
    text-decoration: none;
    color: white;
    
}
.Ashka:hover{
    color: violet;
    text-decoration: underline;
}
#contact-form{
    font-family: "Oswald";
}

#contact-form input{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color:whitesmoke;
}
#contact-form input[type="submit"]{
    font-family: "Oswald";
    font-style: italic;
    font-size: 15px;
    opacity:0.5;
    width: 150px;
    height: 40px;
}
#contact-form input[type="submit"]:hover{
    font-family: "Oswald";
    font-style: italic;
    font-size: 15px;
    opacity:1;
    width: 150px;
    height: 40px;
}







/*
#hj{
    font-family: 'Oswald';
    font-size: 40px;
    margin-top: 200px;
    border: chartreuse solid 5px;
    width: 300px;
    margin-top: 40px;
}
.police{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: chartreuse solid 5px;
}
.uni{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: chartreuse solid 5px;
    
    
}
.house{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-bottom: 20%;
    border: chartreuse solid 5px;
}
*/